 /* Selector de id  */
 
 #titulo {
     color: tomato;
 }
 /*Selector de etiquetas*/
 /* p {
     color: slateblue;
 } */
 /* Selector de clases */
 /* .texto {
     color: slateblue;
 } */
 /* Etiqueta de p que contiene una clase */
 
 p.texto {
     color: slateblue;
 }
 
 p.especial {
     color: mediumseagreen;
 }
 /*     El orden en que escribamos el código CSS es súmamente importante, 
        pues la última línea de código se sobrepone*/
 /* -------------------------------------------------------------------------------------------------------------- */
 /* Seleccion de un div y agregar un estilo a las etiquetas dentro de ese div */
 
 div p {
     color: aquamarine;
 }
 
 div h2,
 div h3 {
     color: brown;
 }
 /* Seleccionar TODO lo que se encuentra en nuestro doc HTML */
 
 * {
     font-size: 24px;
     color: magenta;
 }
 /* El cambio se aplica solo en aquellas propiedades en las que no se ha definido nada aún */
 /* .color {
     color: #ff0000;
     color: #000;
 }
     .color {
     color: rgb(0, 255, 255);
 }
 */